@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --heading:#393A56;
    --text: #7E7F85;
    --theme:#FD5353;
    --bg:#F7F8F9;
    --footerBg:#3B5994;
}

body{
    font-family:'Roboto';
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
    color: var(--heading);
}
p{
    color: var(--text);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 80%;
    margin: auto;
}
/* Header */
header{
    background: var(--bg);
    width: 100vw;
    height: 90vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    align-items: center;
}
.navlinks li{
    margin: 0 20px;
}
.navlinks img{
    width: 50px;
}
.navlinks li a{
    color: var(--heading);
}
.header-content{
    display: flex;
    align-items: center;
}
.header-content img{
    max-width: 85%;
}
.header-info{
    flex: 60%;
}
.line{
    width: 150px;
    height: 4px;
    background: var(--theme);
    border-radius: 5px;
}
.header-info h1{
    font-size: 50px;
}
.header-info h3, .header-info p{
    margin: 15px 0;
}
.btn{
    padding: 10px 16px;
    background: var(--theme);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 30px;
}

#categories{
    display: flex;
    margin: 80px auto; 
    justify-content: space-between;
}
.category{
    text-align: center;
}
#featured-products{
    margin: 80px auto;
}
.section-info{
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    justify-content: center;
    align-items: center;
}
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#offer{
    margin: 80px auto;
    background: var(--bg);
}
#offer .container{
    display: flex;
    align-items: center;
}
#offer .container img{
    max-width: 600px;
}
.offer-content h1{
    font-size: 50px;
}
#featured{
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}
footer{
    background: var(--footerBg);
}
footer p footer li{
    color: #b5b5bb;
}
footer h3{
    color: whitesmoke;
}
.footer-content{
    padding: 80px 0;
    display: flex;
    align-items: center;
}
.footer-content .col{
    flex: 1;
    margin: 0 20px;
}
.copyright{
    padding: 10px 0;
    text-align: center;
}

/*For Mobile*/

@media only screen and (max-width:400px){
    .container{
        width: 90%;
    }
    .brand{
        display: flex;
        justify-content: center;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navlinks{
        display: grid;
        grid-template-columns: auto;
        background: var(--footerBg);
    }
    .navlinks .active{
        margin-top: 0px;
    }
    .navlinks li{
        margin: 20px auto;
    }
    .navlinks li a{
        color: rgb(253, 250, 250);
    }
    .brand img{
        width: 100px;
    }
    .header{
        height: 100%;
    }
    .header-content{
        margin: 20px auto;
        flex-direction: column;
    }
    .line{
        width: 100px;
    }
    .header-content{
        font-size: 20px;
    }
    .header-content img{
        margin: 30px auto;
    }
    #categories{
        flex-direction: column;
    }
    .category{
        margin: 20px auto;
    }
    .category img{
        max-width: 90%;
    }
    .products{
        justify-content: center;
    }
    .product{
        margin: 20px auto;
    }
    #offer .container{
        flex-direction: column;
        padding: 40px 0;
    }
    #offer .container img{
        max-width: 90%;
    }
    #offer .container h1{
        font-size: 40px;
    }
    .offer-content{
        margin-top: 30px;
    }
    #featured{
        flex-direction: column;
    }
    #featured img{
        margin: 20px auto;
    }
    .footer-content{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding: 40px 0;
    }
    .footer-content .col{
        margin: 10px 0;
    }
}